.fa-pencil{
   font-size: small;
   color: #fff;
   cursor: pointer;
   margin-left: 5px;
}

.left{
   text-align: left;
}

.left-information{
   text-align: left;
}

.tableRowSpace{
   padding: 5px;
}

.tableRow-transactions{
   font-weight: 700;
   text-align: center;
}

.tableRow-transactions-date,
.tableRow-transactions-description{
   font-weight: 700;
   text-align: left;
}

.tableRow-transactions-chevron{
   text-align: end;
}
