table{
   border-collapse: separate; 
   border-spacing: 0 10px; 
   width: 100%;
}

thead tr{
   background-color: white;
   color: black;
}

thead tr th{
   padding: 7px;
   font-weight: 400;
}

tr{
   border-radius: 5px;
}

td{
   text-align: center;
   padding: 7px;
   background-color: #00bc77;
   border: none;
   color: white;
}

.align-left{
   text-align: left;
}

.left-radius{
   border-radius: 5px 0 0 5px;
}

.right-radius{
   border-radius: 0 5px 5px 0;
}
