table{
   width: 100%;
   margin: 0 auto;
   border-collapse: collapse;
}

thead tr{
   background-color: white;
   color: black;
}

thead{
   padding: 7px;
   font-weight: 400;
   text-align: left;
}

.date{
   text-align: left;
}

th{
   width: 112px;
   padding: 12px;
   text-align: center;
}

td{
   text-align: center;
   padding: 7px;
   background-color: #00bc77;
   color: white;
}

.align-left{
   text-align: left;
}
