input{
   padding: 5px;
   font-size: 1.2rem;
   border: 1px solid black;
}

.inputField-wrapper label{
   font-weight: bold;
}

.inputField-wrapper{
   display: flex;
   justify-content: center;
   flex-direction: column;
}