.modale{
   display: flex;
   align-items: center;
   flex-direction: column;
   box-sizing: border-box;
   background-color: white;
   width: 300px;
   margin: 0 auto;
   margin-top: 3rem;
   padding: 2rem;
}

.modale i {
   margin-bottom: 1rem;
   font-size: 18px;
}

.modale h1{
   margin-bottom: 1rem;
   font-size: 1.5em;
}





