#header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 20px;
   @media screen and (max-width: 500px){
      flex-direction: column;
      gap: 10px;
   }
}

.header-logo{
   height: 54.38px;
   display: flex;
   align-items: center;
}


