.header-nav{
   display: flex;
   align-items: center;
   gap: 5px;
   font-weight: bold;
   margin-right: 0.5rem;
}

.header-nav-connected{
   display: flex;
   align-items: center;
   font-weight: bold;
   margin-right: 0.5rem;
   gap: 12px;
}

.nav-logout{
   display: flex;
   gap: 5px;
   cursor: pointer;
}

.header-nav-link{
   display: flex;
   align-items: center;
   gap: 10px;
   font-weight: bold;
}

.header-nav p:hover{
   cursor: pointer;
   text-decoration: underline;
}

.fa-gear,
.fa-power-off{
   font-size: 2rem;
   color: #00bc77;
   cursor: pointer;
}

.icon-default {
   color: black;
 }

 .connected-user-color{
   font-weight: bold;
 }

 .no-connected-user-color{
   color: black;
 }

